.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.countdown {
  color: white;
  text-align: center;
  border: 30px solid black;

  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

.landingtext {
  font-size: 300%;
}

.ticker {
  color: #f9787d
}

.footer {
  position: absolute;
  bottom: 0;
  /* width: 100%; */
  /* height: 2.5rem; */
  /* Footer height */
}